<div ng-init="problem_width=185; username_width=185; runs_threshold=5">
  <title ng-if="pending_runs() > 0">({{pending_runs()}}) Live Submissions from UVa Online Judge</title>
  <title ng-if="pending_runs() == 0">Live Submissions from UVa Online Judge</title>
  <!--<script ng-if="live_submissions[0].ver == 0">try{notifyNew(livesubs[0])}catch(ex){}</script>-->
  <!--<script ng-if="live_submissions[0].ver == 0">flip(0);</script>-->
  <script ng-if="live_submissions[0].ver != 0">try{notifyMe(livesubs[0])}catch(ex){}</script>
  <script ng-if="pending_runs() == 0">closeAll()</script>
  <script ng-if="pending_runs() >= runs_threshold">if(typeof pending_runs != 'undefined') notifyWarning("Don't submit for now")</script>
  <table width="100%" style="display:none; border-collapse:collapse;" cellpadding="1" ng-show="show">
    <thead>
      <tr class="tablebar" height="25">
      <th align="left" colspan="10" height="25" style="vertical-align:bottom">
      <span ng-controller='TimeCtrl' class="boxes" style="background:#0A3C7E;float:right; ">
        {{clock|date:'HH:mm:ss'}}<!--<span style="font-stretch: condensed">{{clock|date:'.sss'}}</span>-->
        </span>
        <span class="boxes" style="float:right; font-weight:normal; font-stretch:normal; color:white; padding-right:10px">Show&nbsp;
          <a class="opts" ng-click="set_limit(5)"> 5 </a> &middot;
          <a class="opts" ng-click="set_limit(10)"> 10 </a> &middot;
	      <a class="opts" ng-click="set_limit(15)"> 15 </a> &middot;
          <a class="opts" ng-click="set_limit(20)"> 20 </a> &middot;
          <a class="opts" ng-click="set_limit(25)"> 25 </a> &middot;
	      <a class="opts" ng-click="set_limit(30)"> 30 </a> &middot;
	      <a class="opts" ng-click="set_limit(35)"> 35 </a> &middot;
	      <a class="opts" ng-click="set_limit(40)"> 40 </a> &middot;
	      <a class="opts" ng-click="set_limit(45)"> 45 </a> &middot;
          <a class="opts" ng-click="set_limit(50)"> 50 </a> &middot;
          <a class="opts" ng-click="set_limit(100)"> 100 </a> &middot;
          <a class="opts" ng-click="set_limit(250)"> 250 </a> &middot;
          <a class="opts" ng-click="set_limit(500)"> 500 </a> &middot;
          <a class="opts" ng-click="set_limit(1000)"> 1000 </a>
        </span>
        &nbsp; <span class="white" style="font-stretch:normal"><b>Live Submissions from UVa Online Judge</b></span>&nbsp;&nbsp;&nbsp;
        <span class="boxes" style="color:red; font-weight:normal; border: 1px solid red" ng-if="Notification.permission !== 'granted'">Notifications disabled</span>
        <span class="boxes" style="color:lime; font-weight:normal; border: 1px solid lime" ng-if="Notification.permission === 'granted'">Notifications enabled</span>
        &nbsp;&nbsp;&nbsp;
        <span class="boxes" style="color:yellow; font-weight:normal; border: 1px solid yellow" ng-if="pending_runs() == 1">{{pending_runs()}} Pending Run</span>
        <span class="boxes" style="color:yellow; font-weight:normal; border: 1px solid yellow" ng-if="pending_runs() > 1">{{pending_runs()}} Pending Runs</span>
        &nbsp;&nbsp;&nbsp;
        <span class="boxes" style="color:red; border: 1px solid red" ng-if="runs_threshold <= pending_runs() && pending_runs() < 2*runs_threshold">Verdicts possibly delayed; please stand by</span>
        <span class="boxes" style="color:red; border: 1px solid red" ng-if="pending_runs() >= 2*runs_threshold">Verdicts are delayed; don't resubmit</span>
         <!-- <a class="white" style="cursor:pointer" ng-click="set_show(false)">(hide)</a> -->
      </th>
      <tr class="tablesubar" height="20">
        <th width="80" align="left">&nbsp;  &nbsp;  &nbsp;  #</th>
        <th width="70"></th>
        <th width="60" align="left"></th>
        <th width="{{problem_width}}" align="left">&nbsp;Problem</th>
        <th width="{{username_width}}" align="left">&nbsp;User</th>
        <th width="70" align="center">Verdict</th>
        <th width="60" align="center">Lang</th>
        <th width="55" align="center">Time</th>
        <!-- <th width="55" align="center">Best</th> -->
        <th width="55" align="center">Rank</th>
        <th width="115" align="center" style="font-stretch:condensed">Submit Time</th>
      </tr>
    </thead>
    <tbody style="font-size:11px">
      <tr style="height:18px; {{ver.style}}; color:white; border-top: 5px solid; border-bottom: 5px solid; border-color: black;" ng-repeat="s in live_submissions | limitTo:limit"> <!-- ng-show="[195293,192126,187790,240019,188114,145723,190064,188550,191004,194646,774905,268802,265163,582338,268644,295447,795918,795938,268819,69884].indexOf(s.uid) != -1" --> 
        <td style="font-stretch:condensed;">&nbsp;{{s.sid}}</td>
        <td class="updown"><span class="up">Level&nbsp;{{10-Math.floor(Math.min(10, Math.log(s.p.dacu)))}}</span><br/> {{s.p.dacu}}&nbsp;dacu</td>
        <!--<td class="rot">Level&nbsp;{{10-Math.floor(Math.min(10, Math.log(s.p.dacu)))}}\{{s.p.dacu}} dacu</td>-->
        <td align="right" uhunt-problem="{{s.pid}}"></td>
        <td>
         <!--  <span style="float:right; padding-right:5px" uhunt-discuss="{{s.p.num}}"></span> -->
          <span uhunt-problem-title="{{s.pid}}" width="{{problem_width}}"></span>
        </td>
        <td width="{{username_width}}" uhunt-name-uname name="{{s.name}}" uname="{{s.uname}}" uid="{{s.uid}}"></td>
        <!--<td class="ng-class: {waiting: s.ver==0, ver.style: s.ver!=0}" align="center" uhunt-verdict="{{s.ver}}"></td>-->
        <td class="ng-class: {waiting: s.ver==0, ver.style: s.ver!=0}" align="center" uhunt-verdict="{{s.ver}}"><fa ng-show="s.ver==0" name="circle-o-notch" spin></fa><fa name="{{icons[s.ver]}}"></fa></td>
        <td align="center" uhunt-language="{{s.lan}}"></td>
        <td align="center" uhunt-runtime="{{s.run}}"></td>
        <!-- <td align="center" uhunt-best-runtime="{{s.pid}}"></td> -->
        <td align="center" uhunt-rank="{{s.rank}}"></td>
        <td align="center">{{(s.sbt | uhunt_format_ago).substring(0,(s.sbt | uhunt_format_ago).indexOf(" "))}}
        <span style="font-stretch:condensed;">{{(s.sbt | uhunt_format_ago).substring((s.sbt | uhunt_format_ago).indexOf(" ")+1,(s.sbt | uhunt_format_ago).length)}}</span></td>
      </tr>
    </tbody>
  </table>
  <p><a ng-click="set_show(true)" style="cursor:pointer; text-decoration:none; color:blue; display:none" ng-show="!show">View Live Submissions</a></p>
</div>
